*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(168, 241, 217);
}
#con{
    margin-top: 50px;
}
.container{
    border: 2px solid black;
    width: 400px;
    height: 350px;
    display: flex;
    align-items: center;  
    flex-direction: column;
    background-position: center;
    background-size: cover;  
    background-image: url(backlit.webp);
}
.container p{
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.date-container label{
    font-size: larger;
    margin-right:10px;    
}
#birthDate,#currentDate{
    width: 140px;
    height: 40px;
    border:none;
    box-shadow: 0 0 2px 1px rgb(210, 197, 197);
    margin-top: 10px;
    padding: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
    font-size: larger;
}
label{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#calculateBtn{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
#calculateBtn:active{
  box-shadow: 0 0 0 0;   
}